{% extends 'themes/base_visitor.html.twig' %}

{% block title %}Lien du réinitialisation du mot de passe envoyé{% endblock %}

{% block description %}Lien du réinitialisation du mot de passe envoyé{% endblock %}

{% block main %}

    <div class="container mt-5">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <p>
                    Un email vous a été pour la réinitialisation de votre mot de passe.
                </p>
                <p>
                    Ce lien expirera dans {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.
                </p>
                <p>Si vous n'avez pas reçu votre email, veuillez vérifier vos spams ou <a href="{{ path('app_forgot_password_request') }}">Rééssayez</a>.</p>
            </div>
        </div>
    </div>
{% endblock %}