{% extends "themes/base_visitor.html.twig" %}

{% block title %}Accueil{% endblock %}

{% block description %}Suivez l'acualité des sorties de cette été{% endblock %}

{% block main %}   
    <h1 class="text-center my-3 display-5">Hello</h1>
{% endblock %}