{% extends "themes/base_visitor.html.twig" %}

{% block title %}En attente de la vérification du compte par email{% endblock %}

{% block description %}En attente de la vérification du compte par email{% endblock %}

{% block main %}   
    <div class="container">
        <div class="row"> 
            <div class="col-md-10 mx-auto text-center">
                <h1 class="my-3 display-5">En attende de confirmation</h1><br><br><br>
                <p>Un Email a été envoyer pour la confirmation de votre compte. Veuillez consulter vos mails</p>
            </div>
        </div>
    </div>
{% endblock %}