{% extends "themes/base_visitor.html.twig" %}

{% block title %}Communauté{% endblock %}

{% block description %}Retrouver les réseaux de la communauté{% endblock %}

{% block main %}   
    <h1 class="text-center my-3 display-5">Retrouver les réseaux de la communauté</h1>
{% endblock %}